<footer class="site-footer">
  <div class="flex h-24 px-8 items-center justify-between font-bold">
    <p class="site-footer-text">
      © <%= Time.now.year %> PSP Layout Demo.
    </p>
  </div>
  </footer>


