<footer class="site-footer">
  <div class="flex h-24 px-8 items-center justify-between font-bold">
    <p class="site-footer-text">
      © <%= Time.now.year %> psp-asia/dev/template · Template v2.0 · Sinatra 4.1.1 · Tailwind CSS 4.1.11 · PSP Layout 1.0.0 · Ruby 3.2.8
    </p>
  </div>
  </footer>


