<footer class="footer footer-center bg-base-200 text-base-content p-4">
  <aside>
    <p class="font-semibold">
      © <%= Time.now.year %> psp-asia/dev/template · Template v2.0 · Sinatra 4.1.1 · Tailwind CSS 4.1.11 · PSP Layout 1.0.0 · Ruby 3.2.8
    </p>
  </aside>
  </footer>


