<header class="navbar bg-base-100 border-b border-base-200">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">PSP-Asia</a>
  </div>
  <div class="flex-none">
    <nav class="menu menu-horizontal px-1">
      <a href="/" class="btn btn-ghost">Rack & Rail Grid</a>
      <a href="/demo" class="btn btn-ghost">Demo</a>
      <a href="https://github.com/everysundays/psp-asia-dev-template" class="btn btn-primary">GitHub</a>
    </nav>
  </div>
  </header>


