<header class="rack flex items-center justify-between p-6 bg-white shadow">

  <div id="company-identity" class="col-2">
    <a href="#" class="flex flex-row items-center gap-4 h-full">
      <img src="/img/logo.svg" alt="PSP Asia Logo">
    </a>
  </div>


  <nav id="navbar" class="col-8">
    <ul class="flex justify-center items-center space-x-8">
      <li><a href="#" class="px-3 py-2 text-nowrap">Health Me</a></li>
      <li><a href="#" class="px-3 py-2 text-nowrap">Clinic Software</a></li>
      <li><a href="#" class="px-3 py-2 text-nowrap">Home Care</a></li>
      <li><a href="#" class="px-3 py-2 text-nowrap">Contact</a></li>
      <li><a href="#" class="px-3 py-2 text-nowrap">Support</a></li>
    </ul>

    <!-- Language-->
<!--    <div id ="lang" class="col-2">-->
<!--      <a href="#" class="px-3 py-2">EN</a>-->

<!--    </div>-->

  </nav>


</header>
