<header class="flex items-center justify-between p-6 bg-white shadow">
  <!-- Logo -->
  <img src="/images/logo.png" alt="PSP Asia Logo" class="h-10">

  <!-- Navigation -->
  <nav>
    <ul class="flex justify-center space-x-8">
      <li><a href="#" class="px-3 py-2">Health Me</a></li>
      <li><a href="#" class="px-3 py-2">Clinic Software</a></li>
      <li><a href="#" class="px-3 py-2">Home Care</a></li>
      <li><a href="#" class="px-3 py-2">Contact</a></li>
      <li><a href="#" class="px-3 py-2">Support</a></li>
    </ul>
  </nav>

  <!-- Language -->
  <div class="flex space-x-4">
    <a href="#" class="px-3 py-2">EN</a>
    <a href="#" class="px-3 py-2">TH</a>
  </div>
</header>
