<!--hero-->
<header id="hero" class="rack py-6">


    <h1 class="offset-4 col-8 flex items-center justify-center">Clinical Software<br class="hidden sm:block">
      Built by Healthcare Professionals</h1>
    <p class="offset-4 col-8 flex items-center justify-center">Complete clinic management platform designed specifically for healthcare providers. Streamline patient care, optimize clinical workflows, and ensure regulatory compliance. Trusted by over 4,000 medical practices nationwide.</p>



  <div class="offset-11 flex flex-row items-center justify-center gap-4 mt-6">
    <a href="#" class="btn">
      Demo
    </a>
    <a href="#" class="btn">
      Sign up
    </a>
  </div>

  <img src="img/1content.png" alt="ipad" class="offset-2 col-10">

</header>


<!--iPad section-->


<section id="ipad" class="rack flex flex-col items-center justify-center">
<div class="col-6">
    <h2>Run your clinic effortlessly, all from your iPad</h2>
    <p>Deliver exceptional patient care with clinical-grade iPad functionality. Access comprehensive patient records, manage appointment workflows, and handle medical billing with healthcare-specific tools. Focus on what you do best - practicing medicine - while our intuitive system handles the administrative complexity.</p>
</div>
  <img src="img/2photorealisticsright.png" alt="ipad" class="col-6">
</section>


<!-- Feature pairs -->
<section id="feature" class="rack">

    <p class="offset-8 col-4">Features</p>
    <h2 class="offset-2 col-10">Think like a doctor, not just a store manager!</h2>
    <p class="offset-2 col-10">We want our product to take care of the little things, so you can focus on what really matters—giving your patients the best care possible!</p>



  <div class="col-6 mt-12 grid gap-10 lg:grid-cols-2 lg:items-start">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22" fill="none">
        <path d="M5.09436 10.2288C5.03221 9.82823 4.99996 9.41786 4.99996 9C4.99996 4.58172 8.60525 1 13.0526 1C17.4999 1 21.1052 4.58172 21.1052 9C21.1052 9.99807 20.9213 10.9535 20.5852 11.8345C20.5154 12.0175 20.4804 12.109 20.4646 12.1804C20.4489 12.2512 20.4428 12.301 20.4411 12.3735C20.4394 12.4466 20.4493 12.5272 20.4692 12.6883L20.8717 15.9585C20.9153 16.3125 20.9371 16.4895 20.8782 16.6182C20.8266 16.731 20.735 16.8205 20.6211 16.8695C20.4911 16.9254 20.3146 16.8995 19.9617 16.8478L16.7765 16.3809C16.6101 16.3565 16.527 16.3443 16.4512 16.3448C16.3763 16.3452 16.3245 16.3507 16.2511 16.3661C16.177 16.3817 16.0823 16.4172 15.893 16.4881C15.0097 16.819 14.0524 17 13.0526 17C12.6344 17 12.2237 16.9683 11.8227 16.9073M6.63158 21C9.59648 21 12 18.5376 12 15.5C12 12.4624 9.59648 10 6.63158 10C3.66668 10 1.26316 12.4624 1.26316 15.5C1.26316 16.1106 1.36028 16.6979 1.53955 17.2467C1.61533 17.4787 1.65322 17.5947 1.66566 17.6739C1.67864 17.7567 1.68091 17.8031 1.67608 17.8867C1.67145 17.9668 1.65141 18.0573 1.61134 18.2383L1 21L3.9948 20.591C4.15827 20.5687 4.24 20.5575 4.31137 20.558C4.38652 20.5585 4.42641 20.5626 4.50011 20.5773C4.5701 20.5912 4.67416 20.6279 4.88227 20.7014C5.43059 20.8949 6.01911 21 6.63158 21Z" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <h3 class="text-lg font-semibold text-gray-900">Follow the doctors' approach.</h3>
      <ul class="mt-5 space-y-3 text-sm text-gray-700">
        <li class="flex gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <path d="M7.75016 12.9999L11.2502 16.4999L18.2502 9.49992M24.6668 12.9999C24.6668 19.4432 19.4435 24.6666 13.0002 24.6666C6.55684 24.6666 1.3335 19.4432 1.3335 12.9999C1.3335 6.5566 6.55684 1.33325 13.0002 1.33325C19.4435 1.33325 24.6668 6.5566 24.6668 12.9999Z" stroke="#7F56D9" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Utilize the doctor's shorthand, and the system will comprehend it.</li>
        <li class="flex gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <path d="M7.75016 12.9999L11.2502 16.4999L18.2502 9.49992M24.6668 12.9999C24.6668 19.4432 19.4435 24.6666 13.0002 24.6666C6.55684 24.6666 1.3335 19.4432 1.3335 12.9999C1.3335 6.5566 6.55684 1.33325 13.0002 1.33325C19.4435 1.33325 24.6668 6.5566 24.6668 12.9999Z" stroke="#7F56D9" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
          Increase writing and typing efficiency while minimizing reliance on staff.</li>
        <li class="flex gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <path d="M7.75016 12.9999L11.2502 16.4999L18.2502 9.49992M24.6668 12.9999C24.6668 19.4432 19.4435 24.6666 13.0002 24.6666C6.55684 24.6666 1.3335 19.4432 1.3335 12.9999C1.3335 6.5566 6.55684 1.33325 13.0002 1.33325C19.4435 1.33325 24.6668 6.5566 24.6668 12.9999Z" stroke="#7F56D9" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Streamline customer support and accelerate lead conversion.</li>
      </ul>
    </div>
  </div>
  <img src="img/3mockup.png" alt="mockup" class="col-6">

  <img src="img/4stock.png" alt="stock rise pic" class="col-6">
  <div class="col-6 mt-12 grid gap-10 lg:grid-cols-2 lg:items-center">

    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20" fill="none">
        <path d="M8 15.5H2.5M5.5 10H1M8 4.5H3M16 1L9.40357 10.235C9.1116 10.6438 8.96562 10.8481 8.97194 11.0185C8.97744 11.1669 9.04858 11.3051 9.1661 11.3958C9.30108 11.5 9.55224 11.5 10.0546 11.5H15L14 19L20.5964 9.76499C20.8884 9.35624 21.0344 9.15187 21.0281 8.98147C21.0226 8.83312 20.9514 8.69489 20.8339 8.60418C20.6989 8.5 20.4478 8.5 19.9454 8.5H15L16 1Z" stroke="#7F56D9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

      <h3 class="text-lg font-semibold text-gray-900">Stock & Finance Management made easy</h3>
      <ul class="mt-5 space-y-3 text-sm text-gray-700">
        <li class="flex gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <path d="M7.75016 12.9999L11.2502 16.4999L18.2502 9.49992M24.6668 12.9999C24.6668 19.4432 19.4435 24.6666 13.0002 24.6666C6.55684 24.6666 1.3335 19.4432 1.3335 12.9999C1.3335 6.5566 6.55684 1.33325 13.0002 1.33325C19.4435 1.33325 24.6668 6.5566 24.6668 12.9999Z" stroke="#7F56D9" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Built‑in live chat helps keep your customers in the loop.</li>
        <li class="flex gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <path d="M7.75016 12.9999L11.2502 16.4999L18.2502 9.49992M24.6668 12.9999C24.6668 19.4432 19.4435 24.6666 13.0002 24.6666C6.55684 24.6666 1.3335 19.4432 1.3335 12.9999C1.3335 6.5566 6.55684 1.33325 13.0002 1.33325C19.4435 1.33325 24.6668 6.5566 24.6668 12.9999Z" stroke="#7F56D9" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Embedded help articles right on your website.</li>
        <li class="flex gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <path d="M7.75016 12.9999L11.2502 16.4999L18.2502 9.49992M24.6668 12.9999C24.6668 19.4432 19.4435 24.6666 13.0002 24.6666C6.55684 24.6666 1.3335 19.4432 1.3335 12.9999C1.3335 6.5566 6.55684 1.33325 13.0002 1.33325C19.4435 1.33325 24.6668 6.5566 24.6668 12.9999Z" stroke="#7F56D9" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Customers never have to leave the page to find an answer.</li>
      </ul>
    </div>
  </div>


</section>