<section>
<!--  left-->
<h3>
Start your free trial
</h3>
  <p>
  Join over 4,000+ startups already growing with Untitled.
  </p>


<!--  right-->
  <div>
    <a href="#"
       class="rounded-lg bg-white px-4 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-gray-300 hover:bg-gray-50">
      Learn more
    </a>
    <a href="#"
       class="rounded-lg bg-blue-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-700">
      Get started
    </a>
  </div>
</section>