/* Custom Typography Styles */
@layer base {
    html:lang(en) { --body-size: 1rem; font-family: "Inter"; }
    html:lang(th) { --body-size: 1.125rem; font-family: "Sarabun"; }
    html:lang(ja) { --body-size: 1rem; font-family: "Noto Sans JP"; }

    h1 { font-size: calc(var(--body-size) * 2); line-height: calc(var(--body-size) * 2.2); }
    h2 { font-size: calc(var(--body-size) * 1.75); line-height: calc(var(--body-size) * 2); }
    h3 { font-size: calc(var(--body-size) * 1.5); line-height: calc(var(--body-size) * 1.8); }
    h4 { font-size: calc(var(--body-size) * 1.25); line-height: calc(var(--body-size) * 1.6); }
    h5 { font-size: calc(var(--body-size) * 1); line-height: calc(var(--body-size) * 1.4); }
    h6 { font-size: calc(var(--body-size) * 0.875); line-height: calc(var(--body-size) * 1.3); }

    body { font-size: var(--body-size); line-height: 1.4; }
}